# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/

# IDEs and Editors
.vscode/
.idea/
*.iml
*.swp

# Docker
docker-compose.override.yml
.docker/

# Environment files
.env.prod

# Build output
bin/
build/
dist/

# Logs
*.log

# Temporary files
*.bak
*.tmp
/proto/protoc-gen-openapiv2/
/proto/google/
/proto/task.pb.gw.go
/proto/task_grpc.pb.go
/proto/task.pb.go
